main {
    width: 1000px;
    margin: auto;
    background-color: white;
}

body {
    background-color: rgb(253, 253, 184);
}

header {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
}

#nagykep {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 25px;
}

#nagykep img {
    width: 90%;
}

#kep {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
}

#kep img {
    width: 100%;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

#balra {
    margin-right: 50px;
}

#jobbra {
    margin-left: 0px;
}

footer {
    text-align: center;
}